<%- include('../partial/head-1') %>
<div class="container">
    <h2>Comments CRUD</h2>
    <ul>
        <% for(c of comments){ %>
            <li><b><%= c.username %></b> : <%= c.comment %>
            <a href="comments/<%= c.id %>">more details</a></li>
        <% } %>
    </ul>
    <h2><a href="comments/new">create New Comment!</a></h2>
</div>
    
</body>
</html>