<%- include('partial/head') %>
<div class="container">
    <h1>The Home Page</h1>
    <a href="/comments">See All commnets!</a>
    <a href="/tacos">Order Some tacos!</a>
</div>


</body>
</html>