<%- include('../partial/head-1') %>
<div class="container">
    <h1>Current Tacos orders</h1>
    <section>
        <ol>
            <% for(let taco of tacos){ %>
                <li><%= taco.meat %> * <%= taco.qty %>
                    <form method="post" action="/tacos/<%= taco.id %>?_method=DELETE">
                    <button>Delete</button></form>
                </li>
            <% } %>
        </ol>
    </section>
    <section><a href="tacos/order">Order More Tacos!</a></section>
</div>

</body>
</html>