<%- include('../partial/head-1') %>
<div class="container">
        <h1>Taco Bell App Demo</h1>
    <form method="post" action="/tacos">
        <h3>Order Some Tacos!</h3>
        <label for="tacos">Enter Tacos</label>
        <input type="text" name="meat" id="meat" placeholder="Enter a kind of meat">

        <label for="qty">How Many Tacos Do You Want?</label>
        <input type="number" name="qty" id="qty" placeholder="how many">
        <button>ORDER!</button>
    </form>
</div>

</body>
</html>