<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tacos Orders</title>
</head>
<body>
    <h1>Taco Bell App Demo</h1>
    <form method="post" action="/tacos">
        <h3>Order Some Tacos!</h3>
        <label for="tacos">Enter Tacos</label>
        <input type="text" name="meat" id="meat" placeholder="Enter a kind of meat">

        <label for="qty">How Many Tacos Do You Want?</label>
        <input type="number" name="qty" id="qty" placeholder="how many">
        <button>ORDER!</button>
    </form>
</body>
</html>